<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jc.allmoduledemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectModuleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.recyclerview.RecyclerviewActivity" />
        <activity android:name=".widget.vlayout.VLayoutActivity" />
        <activity android:name=".widget.vlayout.TmallIndexActivity" />
        <activity android:name=".framework.view.ButterknifeActivity"></activity>
    </application>

</manifest>